

.containerProjects {
    margin: 100px auto 0px auto;
    width: 100%;
    height: 100%;
    padding: 60px 25px;
    justify-content: center;
    align-content: center;
    position: relative;
  }
  
  .containerProjects::before {
    content: " ";
    display: block;
    background-image: linear-gradient(to bottom, #7B7B7B,#BDBDBD);
    border-radius: 100%;
    position: absolute;
    width:30%;
    height:30%;
    top:35%;
    left:35%;
    opacity:0;
    z-index: -1;
    transition: all 1s ease-in;

  }

  .containerProjects:hover::before {
      opacity:1;
      top:0;
      left:0;
      border-radius: 0;
      width: 100%;
      height: 100%;
  }

  .containerProjects:hover .inmuebles360Description,
  .containerProjects:hover .pokemonPiDescription, 
  .containerProjects:hover .carouselCssDescription {
    color:black;
  }

  .containerProjects:hover .inmuebles360Images img,
  .containerProjects:hover .pokemonPiImages img,
  .containerProjects:hover .carouselCssImages img {
    filter: grayscale(50%);
    box-shadow: 2px 3px 10px #000;

  }

  .containerProjects:hover h1 {
   color: #000;
  }
  
  .containerProjects div h1 {
    color:var(--dark-cyan);
    margin-bottom: 80px;
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
    transition: color 1s linear ,
  }
  
  .inmuebles360, .pokemonPi, .carouselCss {
    display: grid;
    width: 100%;
    max-width: 1450px;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;
    opacity: 0.1;
    transform: scale(0.5);
    transition: all 2s ease-in-out;
  }

  .pokemonPi {
    margin:300px auto;
  }

  .showFinal {
    opacity:1;
    transform: scale(1);
  } 
  
  .inmuebles360Images, .pokemonPiImages {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .inmuebles360Images img, .pokemonPiImages img  {
    width: 100%;
    height: 100%;
    filter:grayscale(100%);
    border-radius: 20px;
    object-fit: cover;
    transition: filter 0.6s ease;
    
  }
  
  .inmuebles360Images div:first-child {
    grid-row: span 2;
    transition: all 0.3s linear;
  }
  
  .inmuebles360Images img:nth-child(2) {
    grid-column: span 2;
  }
  
  .inmuebles360Description, .pokemonPiDescription, .carouselCssDescription {
    position: relative;
    color: #fff;
    transition: color 1s linear 1s;
    
  }
  
  .inmuebles360Description h3, .pokemonPiDescription h3, .carouselCssDescription h3 {
    margin-top: 3em;
    text-align: left;
    font-size: x-large;
    font-weight: 600;
  }

  .pokemonPiDescription h3 {
    margin-top: 1em;
  }
  
  .inmuebles360Description p, .pokemonPiDescription p, .carouselCssDescription p {
    margin: 4em 1em 0 0;
  }
  
  .inmuebles360Description div, .pokemonPiDescription div, .carouselCssDescription div {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
  }
  
  .icons {
    margin: 2em 0.5em;
    width: 1.5em;
    height: 1.5em;
  }

  .pokemonPiImages img:first-child, .pokemonPiImages img:nth-child(4) {
    grid-column: span 2;
  }

  @keyframes aparecer {
    from {
      opacity: 0;
      transform: scale(0.5) translateY(100px); 
    }
  
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @media (width < 550px) {
    .containerProjects div h1 {
      font-size: 3em;
    }
    .inmuebles360Images div:first-child {
     grid-row: span 1.5;
    }

  }

  @media (width < 1300px) {
    .inmuebles360, .pokemonPi, .carouselCss {
      grid-template-columns: 1fr;
    }
    .inmuebles360Images img:nth-child(2), 
    .pokemonPiImages img:first-child,
    .pokemonPiImages img:nth-child(4) {
      grid-column: span 1;
    }
  }