/* ///////////////////////////////////// MY PROJECTS //////////////////////////////////////////////////////////// */

.containerProjects {
    margin: 100px auto;
    width: 100%;
    height: 100%;
    padding: 60px 25px;
    justify-content: center;
    align-content: center;
  }
  
  .containerProjects div h1 {
    background-image: linear-gradient(
      to left,
      var(--midnight-green),
      var(--tiffany-blue)
    );
    margin-bottom: 80px;
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
    -webkit-text-fill-color: #0000;
    background-clip: text;
  }
  
  .inmuebles360, .pokemonPi {
    display: grid;
    width: 100%;
    max-width: 1450px;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;
  }

  .pokemonPi {
    margin:300px auto;
  }
  
  .inmuebles360Images, .pokemonPiImages {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .inmuebles360Images img, .pokemonPiImages img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .inmuebles360Images div:first-child {
    grid-row: span 2;
  }
  
  .inmuebles360Images img:nth-child(2) {
    grid-column: span 2;
  }
  
  .inmuebles360Description, .pokemonPiDescription {
    position: relative;
    color: #fff;
    
  }
  
  .inmuebles360Description h3, .pokemonPiDescription h3 {
    margin-top: 3em;
    text-align: left;
    font-size: x-large;
    font-weight: 600;
  }

  .pokemonPiDescription h3 {
    margin-top: 1em;
  }
  
  .inmuebles360Description p, .pokemonPiDescription p {
    margin: 4em 1em 0 0;
  }
  
  .inmuebles360Description div, .pokemonPiDescription div {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
  }
  
  .icons {
    margin: 2em 0.5em;
    width: 1.5em;
    height: 1.5em;
  }

  .pokemonPiImages img:first-child, .pokemonPiImages img:nth-child(4) {
    grid-column: span 2;
  }


  @media (width < 550px) {
    .containerProjects div h1 {
      font-size: 3em;
    }
  }

  @media (width < 1300px) {
    .inmuebles360, .pokemonPi {
      grid-template-columns: 1fr;
    }
    .inmuebles360Images img:nth-child(2), 
    .pokemonPiImages img:first-child,
    .pokemonPiImages img:nth-child(4) {
      grid-column: span 1;
    }
  }